In [10]:
class Employee:
  count=0
  def __init__(self,name,position,salary):
    self.name = name
    self.position = position
    self.salary = salary
    Employee.count+=1
  def displayCount(self):
    print("There are %d employees" %Employee.count)
  def displayDetails(self):
    print("Name:",self.name, ",Position:", self.position,",Salary:",self.salary)

emp1=Employee("Employee1","HR",45000)
emp2=Employee("Employee2","Manager",90000)
emp3=Employee("Employee3","Programmer",45000)
emp4=Employee("Employee4","Engineer",50000)
emp5=Employee("Employee5","IT Support",40000)

Employee.displayCount(emp1)   # Count of Employees

There are 5 employees

In [11]:
print('**Information about employees**')
Employee.displayDetails(emp1)

**Information about employees**
Name: Employee1 ,Position: HR ,Salary: 45000

In [16]:
print('**Information about employees**')
emp1.displayDetails()
emp2.displayDetails()
emp3.displayDetails()
emp4.displayDetails()
emp5.displayDetails()

**Information about employees**
Name: Employee1 ,Position: HR ,Salary: 45000
Name: Employee2 ,Position: Manager ,Salary: 90000
Name: Employee3 ,Position: Programmer ,Salary: 45000
Name: Employee4 ,Position: Engineer ,Salary: 50000
Name: Employee5 ,Position: IT Support ,Salary: 40000